body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../img/hair1.jpg);
    background-repeat: no-repeat;
    
}
.logo{
    position: relative;
    width: 100%;
    top: 50px;
    margin: 0 auto;
}

.logo img{
    margin: 0 0 0 40%;
    
}


.form-body{
    width: 20%;
    border:1px solid  #130322;
    margin: 50px 0 20px 75%;
    padding: 20px;
    font-size: 10px;
    border-radius: 1px;
}
.button{
    width: 100%;
    background-color: #130322;
    color: #FFF;
    font-size: 14px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}

p {
    margin: 20px 0 -20px 0;
    text-align: left;
}
p a{
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
p a:hover{
   color: #130322;
}
@media screen and (max-width:900px){
    body{
        background-position: center right;
    }
    .form-body{
        width: 70%;
        margin: 100px auto 20px auto; 
    }
    .logo img{
        margin: 0 0  0 60px;
    }
}